.b {
    position: fixed;
    background-color: green;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    color: white;
}

.d {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 370px;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    padding: 15px 0 15px 15px;
}

.modal-content button {
    width: 50px;
    border: 1px solid gray;
    border-radius: 3px;
}

p, h1 {
    margin: 0;
    line-height: 35px;
}